<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<!-- &#8867; es el simbolo del torniquete -->
		<h1>&#8867; SECRET PAGE &#8866;</h1 >
		<p>
			La hora es actual es:
			<!--mostrar sesion con tiempo actual-->
			<%=session[:time] if session[:time] != nil %>
		</p>
		<!-- mostrar datos de sesion -->
		<p>HOLA <%=@name if @name != nil %>  </p>
		<p>Tu id es <%=@id if @name != nil %>  </p>
		<p>Tu correo es <%=@mail if @mail != nil %>  </p>
		<form action="/logout" method="get">
				<input type="submit" name="logOut" value="SALIR">
		</form>
		<p>Aquellos urls creados por ti podràs ver cuantas veces han sido clickeados</p>
		<%=erb :bitly%>
	</body>
</html>
